
/* =========================================================
   ACTIONS
========================================================= */

.content-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin-top: 0.6rem;
    /* padding-top: 1.2rem; */
}

.content-action {
    display: inline-flex;
    align-items: center;
    gap: .4rem;

    padding: 0;

    border: none;
    background: transparent;

    color: var(--text-light);
    font-family: var(--font-family);
    font-size: 0.9rem;

    cursor: pointer;

    transition: color .2s ease;
}

.content-action:hover {
    color: var(--primary-dark);
}

/* =========================================================
   AUDIO ACTIONS
========================================================= */
.audio-actions {
    justify-content: center;

    margin-top: 1.4rem;
    padding-top: 0;

    text-align: center;
}

/* =========================================================
   MOBILE
========================================================= */

/* =========================================================
   MOBILE
========================================================= */

@media (max-width: 700px) {

    .content-actions {
        gap: 0.8rem;
    }

    .content-action {
        gap: 0.3rem;
        font-size: 0.7rem;
    }

    .content-action i {
        font-size: 0.7rem;
    }

}